<nav>
    <div id="site-title">
      <h1>Spider Blog</h1>
      <p>Latest Tech News from spiders</p>
    </div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/blogs">Blogs</a>
      </li>
      <li>
        <a href="/blogs/create">New Blog</a>
      </li>
    </ul>
  </nav>